<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v5.1.1
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2024 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->

<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Th.vn</title>
{#    <link rel="manifest" href="assets/favicon/manifest.json">#}
    <link rel="manifest" href="{{ preload('/bundles/admin/coreui/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="{{ preload('/bundles/html/thanhhuong/imgs/favi.png') }}" type="image/png" sizes="16x12">

    <!-- Vendors styles-->
{#    <link rel="stylesheet" href="node_modules/simplebar/dist/simplebar.css">#}
{#    <link rel="stylesheet" href="css/vendors/simplebar.css">#}
    <link rel="stylesheet" href="{{ preload('/bundles/admin/coreui/simplebar.css') }}">
    <!-- Main styles for this application-->
    {#<link href="css/style.css" rel="stylesheet">#}
    <link href="{{ preload('/bundles/admin/coreui/style.css') }}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    {#<link href="css/examples.css" rel="stylesheet">#}
    <link href="{{ preload('/bundles/admin/coreui/examples.css') }}" rel="stylesheet">
    {#<script src="js/config.js"></script>#}
    <script src="{{ preload('/bundles/admin/coreui/config.js') }}"></script>
    {#<script src="js/color-modes.js"></script>#}
    <script src="{{ preload('/bundles/admin/coreui/color-modes.js') }}"></script>
    {#<link href="node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">#}
    <link href="{{ preload('/bundles/admin/coreui/coreui-chartjs.css') }}" rel="stylesheet">

{#    <link href="{{ preload('/bundles/html/thanhhuong/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">#}
</head>

<style>
    .sidebar-header {
        text-align: center;
        display: block;
    }
</style>

<body  data-copyright="TheHien-ThanhHuong">
{% block LeftSidebar %}
    {{ include('@Admin/back_office/partial/left_sidebar.html.twig') }}
{% endblock %}
{% block MainContent %}
{% endblock %}


<!-- CoreUI and necessary plugins-->
{#<script src="node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/coreui.bundle.min.js') }}"></script>
{#<script src="node_modules/simplebar/dist/simplebar.min.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/simplebar.min.js') }}"></script>
<script>
    const header = document.querySelector('header.header');

    document.addEventListener('scroll', () => {
        if (header) {
            header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
    });

</script>
<!-- Plugins and scripts required by this view-->
{#<script src="node_modules/chart.js/dist/chart.umd.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/chart.umd.js') }}"></script>
{#<script src="node_modules/@coreui/chartjs/dist/js/coreui-chartjs.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/coreui-chartjs.js') }}"></script>
{#<script src="node_modules/@coreui/utils/dist/umd/index.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/index.js') }}"></script>
{#<script src="js/main.js"></script>#}
<script src="{{ preload('/bundles/admin/coreui/main.js') }}"></script>
<script>
</script>
<div id="loading-animation" class="loading" style="display: none;">Loading…</div>
</body>
</html>