<div id="cloud1" class="cloud">
    <img src="{{ preload('/bundles/html/images/cloud_fog_by_moonglowlilly-d5tk3l7.png') }}">
</div>
<div id="cloud2" class="cloud">
    <img src="{{ preload('/bundles/html/images/cloud_fog_by_moonglowlilly-d5tk3l7.png') }}">
</div>
<div id="cloud3" class="cloud"><img src="{{ preload('/bundles/html/images/cloud_PNG16.png') }}"></div>
<div id="cloud4" class="cloud">
    <img src="{{ preload('/bundles/html/images/cloud_PNG16.png') }}"></div>

<div id="cloud5" class="cloud">
    <img src="{{ preload('/bundles/html/images/cloud_fog_by_moonglowlilly-d5tk3l7.png') }}">
</div>
<div id="cloud6" class="cloud">
    <img src="{{ preload('/bundles/html/images/cloud_fog_by_moonglowlilly-d5tk3l7.png', { as: 'image' }) }}">
</div>