<div id="highlight">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">

                <div class="contentInner highlightInner">
                    <div class="highlightData">
                        <div class="row">
                            <div class="col-12">
                                <div class="sectionTitle">
                                    <h2>Điểm đặt sắc</h2>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="highlightSlider threeSlider">

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img src="{{ preload('/bundles/html/images/highlight1.jpg') }}">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Cung đường trekking đa dạng địa hình</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img src="{{ preload('/bundles/html/images/highlight2.jpg') }}">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Chinh phục Kỳ Quan San - Top 4 núi cao nhất Việt Nam</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img src="{{ preload('/bundles/html/images/highlight3.png') }}">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Đón bình minh trên  biển mây ở núi Muối</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img src="{{ preload('/bundles/html/images/highlight4.jpg') }}">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Săn dải ngân hà trên  biển mây</p>
                                        </div>
                                    </div>

                                    <div class="threeSliderItem">
                                        <div class="threeSliderImg photo">
                                            <img src="{{ preload('/bundles/html/images/highlight5.jpg') }}">
                                        </div>
                                        <div class="threeSliderData">
                                            <p>Xe cabin di chuyển khứ hồi Hà Nội – Sapa siêu thoải mái</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="highlightDesc">
                                    Bạch Mộc Lương Tử, hay còn gọi là Kỳ Quan San, nằm trong Top 4 ngọn núi cao nhất Việt Nam. Cung đường trek đa dạng địa hình, hớp hồn giới trẻ, từ ruộng bậc thang vùng Tây Bắc, rừng trúc nguyên sinh, đến cảnh tượng bình minh trên biển mây bồng bềnh và màn đêm lung linh với dải Ngân Hà rực rỡ. Hành trình chinh phục thiên nhiên Việt Nam của bạn sẽ không thể thiếu hành trình Chinh phục Bạch Mộc Lương Tử.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>