<div id="schedule">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">

                <div class="sectionTitle">
                    <h2>Lịch trình</h2>
                    <hr>
                </div>

                <div class="scheduleImgs">
                    <div class="row">
                        <div class="col-12">

                            <div class="threeSlider scheduleSlider">

                                <div class="threeSliderItem">
                                    <div class="threeSliderImg photo">
                                        <img src="{{ preload('/bundles/html/images/schedule1.jpg') }}">
                                    </div>
                                </div>

                                <div class="threeSliderItem">
                                    <div class="threeSliderImg photo">
                                        <img src="{{ preload('/bundles/html/images/schedule2.jpg') }}">
                                    </div>

                                </div>

                                <div class="threeSliderItem">
                                    <div class="threeSliderImg photo">
                                        <img src="{{ preload('/bundles/html/images/schedule3.png') }}">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="scheduleMainWrapper">
                    <div class="scheduleMain">
                        <div class="row">
                            <div class="col-12">
                                <div class="scheduleMainName">

                                    <div class="day" >
                                        <p>Hà Nội</p>
                                    </div>

                                    <div class="day">
                                        <p>Sàng Mao Sáo Sapa</p>
                                    </div>

                                    <div class="day">
                                        <p>Lán nghỉ núi Muối</p>
                                    </div>

                                    <div class="day">
                                        <p>Địa điểm săn mây</p>
                                    </div>

                                    <div class="day">
                                        <p>Đỉnh Bạch Mộc Lương Tử</p>
                                    </div>

                                    <div class="day">
                                        <p>Lán nghỉ núi Muối</p>
                                    </div>

                                    <div class="day">
                                        <p>Sàng Mao Sáo Sapa</p>
                                    </div>

                                    <div class="day">
                                        <p>Sapa</p>
                                    </div>



                                </div>
                                <hr>
                                <div class="scheduleMainDay">


                                    <div class="day">
                                        <p class="dayTooltip" data-toggle="tooltip"
                                           title="Trở về Sapa, trải nghiệm tắm lá dao, thưởng thức ẩm thực đặc sắc vùng Tây Bắc và khởi hành về lại sân bay Hà Nội">
                                            Ngày 0</p>
                                    </div>


                                    <div class="day place1">
                                        <p class="dayTooltip" data-toggle="tooltip"
                                           title="Trở về Sapa, trải nghiệm tắm lá dao, thưởng thức ẩm thực đặc sắc vùng Tây Bắc và khởi hành về lại sân bay Hà Nội">
                                            Ngày 1</p>
                                    </div>


                                    <div class="day place2">
                                        <p class="dayTooltip" data-toggle="tooltip"
                                           title="Trở về Sapa, trải nghiệm tắm lá dao, thưởng thức ẩm thực đặc sắc vùng Tây Bắc và khởi hành về lại sân bay Hà Nội">
                                            Ngày 2</p>
                                    </div>


                                    <div class="day place3">
                                        <p class="dayTooltip" data-toggle="tooltip"
                                           title="Trở về Sapa, trải nghiệm tắm lá dao, thưởng thức ẩm thực đặc sắc vùng Tây Bắc và khởi hành về lại sân bay Hà Nội">
                                            Ngày 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="scheduleMap">
                    <div class="row">
                        <div class="col-12">
                            <div class="scheduleMapImg">
                                <img class="showDesktop" src="{{ preload('/bundles/html/images/map.png') }}">
                                <img class="showMobile" src="{{ preload('/bundles/html/images/map.png') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>