{% extends '@App/anonymous/anonymous-master.html.twig' %}

{% block prefix_title %}Forgot password{% endblock %}

{% block extra_stylesheets %}
  {{ encore_entry_link_tags('loginPage') }}
{% endblock %}

{% block classBody %}
  class="app forgot-password"
{% endblock %}

{% block body %}
  <div class="login">
    <div class="container container--login">
      <div class="login__inner">
        <h1 class="logo-text"><a href="/">Deskimo</a></h1>
        <div class="login__form">
          <h1 class="login__title">Forgot password</h1>
          <p class="login__subtext mb-4">Enter the email address you used in your account to reset your password.</p>
          {% include '@App/authentication/admin/component/flash-message.html.twig' %}
          {{ form_start(form) }}
          <div class="form-group">
            <label for="forgot_password_email">Email address</label>
            {{ form_row(form.username, { 'attr': {
              'placeholder': 'Input your email...',
              'required': 'true',
              'oninvalid': 'InvalidMsg(this);',
              'oninput': 'InvalidMsg(this);',
              'title': 'Please input right information',
            }}
            ) }}
          </div>
          <button class="ripple btn btn-primary" id="return-to-dash-btn" type="submit">Reset Password</button>
          <p class="login__subtext mt-4 text-center">All set? <a href="{{ url('user_login_route') }}">Login now</a></p>
          {{ form_end(form) }}

        </div>
        <div class="login__links">
          <a class="login__link" href="{{ url('contact_us_route') }}">Contact Us</a>
          <a class="login__link" href="javascript:void(0)">Privacy Policy</a>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block extra_javascripts %}
  {{ encore_entry_script_tags('loginPage') }}
{% endblock %}

