<style>
    #suggest {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('{{ preload('/bundles/html/bachmoc/images/suggestbg.jpg') }}');
    }

    @media (max-width: 767px) {
        #suggest {
            background-image: url('{{ preload('/bundles/html/bachmoc/images/suggestbg.jpg') }}');
        }
    }
</style>
<div id="suggest">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">

                <div class="sectionTitle">
                    <h2>Hành trình gợi ý</h2>
                    <hr>
                </div>

                <div class="suggestMain">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="suggestSlider oneSlider">
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest1.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Tà Xùa – coming soon</p>
                                    </div>
                                </div>
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest2.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Tà Xùa – coming soon</p>
                                    </div>
                                </div>

                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest3.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Tà Xùa – coming soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="suggestSlider oneSlider">
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest1.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Lùng Cúng – coming soon</p>
                                    </div>
                                </div>
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest2.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Lùng Cúng – coming soon</p>
                                    </div>
                                </div>

                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest3.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Lùng Cúng – coming soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="suggestSlider oneSlider">
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest1.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Mộc Châu – coming soon</p>
                                    </div>
                                </div>
                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest2.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Mộc Châu – coming soon</p>
                                    </div>
                                </div>

                                <div class="oneSliderItem">
                                    <div class="photo">
                                        <img src="{{ preload('/bundles/html/bachmoc/images/suggest3.png') }}">
                                    </div>
                                    <div class="oneSliderData">
                                        <p>Tour Mộc Châu – coming soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>