{% extends '@Html/thanhhuong/master.html.twig' %}

{% block title %}Register{% endblock %}

{% block MainContent %}
	<div class="container mt-5">
		<h2>Register</h2>
		{{ form_start(registrationForm) }}
		<div class="form-group">
			{{ form_label(registrationForm.fullName) }}
			{{ form_widget(registrationForm.fullName, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.username) }}
			{{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.password.first) }}
			{{ form_widget(registrationForm.password.first, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.password.second) }}
			{{ form_widget(registrationForm.password.second, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<button type="submit" class="btn btn-primary mt-3">{{ form_widget(registrationForm.submit) }}</button>
		{{ form_end(registrationForm) }}

		<p class="mt-3">Already have an account? <a href="{{ path('user_login') }}">Login here</a></p>
	</div>
{% endblock %}