<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="geo.region" content="VN">
    <meta name="geo.position" content="11.305864, 106.136140">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="&amp;copy; dauphongthanhhuong.com">
    <meta name="author" content="Hien Le">
    <meta name="googlebot" content="all, index, follow">
    <meta name="pagerank" content="8">
    <meta name="Area" content="Hanoi, Saigon, HoChiMinh, Danang,  Vietnam, Nhatrang, Cantho, TayNinh">
    <meta name="revisit-After" content="1 days">
    <meta name="distribution" content="Global">
    <meta name="rating" content="general">
    <meta name="doc-type" content="web page">
    <meta name="pics-label" content="G">
    <meta name="serps" content="1, 2, 3, 10, 11, 12, 13, ATF">
    <meta name="seoconsultantsdirectory" content="8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,700italic" rel="stylesheet">


    <link rel="icon" href="{{ preload('/bundles/html/thanhhuong/imgs/favi.png') }}" type="image/png" sizes="16x12">

    <link href="{{ preload('/bundles/html/thanhhuong/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

    <link rel="stylesheet" href="{{ preload('/bundles/html/thanhhuong/lib/slick/slick.css?v=2', { as: 'style'}) }}">
    <link rel="stylesheet"  href="{{ preload('/bundles/html/thanhhuong/css/index.css?v=4', { as: 'style', nopush: true }) }}">

    <title>Đậu phộng rang, Đậu phộng sống - Đậu Phộng Thanh Hương</title>
    <meta name="description" content="Khám phá ngay Đậu Phộng Thanh Hương, Mua Đậu Phộng Rang Ngon Nhất – Giao Hàng Tận Nơi, đậu phộng rang, công dụng của đậu phộng, đậu phộng có tác dụng gì đối với sức khỏe">
    <meta name="keywords" content="Đậu Phộng Thanh Hương, Đậu Phộng Rang, Đậu phộng sống, Đậu phộng võ lụa, Đậu phộng nữa hạt, Đậu phộng  xay nhuyễn, Đậu phộng sạch">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJ8EJFW48T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HJ8EJFW48T');
    </script>


</head>

<body class="page" data-copyright="TheHien-ThanhHuong">
{% block MainContent %}
{% endblock %}
<div id="loading-animation" class="loading" style="display: none;">Loading…</div>

{#JS#}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ preload('/bundles/html/thanhhuong/lib/bootstrap/bootstrap.bundle.min.js') }}"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ preload('/bundles/html/thanhhuong/lib/slick/slick.js') }}"></script>
{#<script type="text/javascript" src="{{ preload('/bundles/html/thanhhuong/js/main.js?version=1', { nopush: true }) }}"></script>#}
<script type="text/javascript" src="{{ preload('/bundles/html/thanhhuong/js/index.js?version=17', { nopush: true }) }}"></script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Đậu Phộng Thanh Hương",
        "description": "Chúng tôi cung cấp các loại đậu phộng chất lượng cao.",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Số 4, Hẽm 107, CMT8, Ninh Phước, Ninh Thạnh, TP Tây Ninh, Tây Ninh",
            "addressLocality": "TP Tây Ninh",
            "addressRegion": "Tây Ninh",
            "postalCode": "841200",
            "addressCountry": "VN"
        },
        "telephone": "+84-972-154 -757",
        "openingHours": "Mo-Su 09:00-18:00",
        "url": "http://www.dauphongthanhhuong.com",
        "logo": "http://www.dauphongthanhhuong.com/bundles/html/thanhhuong/imgs/logo.png"
    }

</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Product",
        "name": "Đậu Phộng Rang Nguyên Võ",
        "image": "http://www.dauphongthanhhuong.com/bundles/html/thanhhuong/imgs/1.png",
        "description": "Đậu phộng rang nguyên võ vệ sinh",
        "sku": "DPTH001",
        "brand": {
            "@type": "Brand",
            "name": "Đậu Phộng Thanh Hương"
        },
        "offers": {
            "@type": "Offer",
            "priceCurrency": "VND",
            "price": "35000",
            "itemCondition": "https://schema.org/NewCondition",
            "availability": "https://schema.org/InStock",
            "url": "http://www.dauphongthanhhuong.com#sanpham"
        }
    }
</script>
</body>
</html>