{{ form_start(form, {'method': 'POST', 'class': 'form-horizontal ng-pristine ng-valid'}) }}
<div class="fade-in">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">{{ action }} Property Details</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Property/Building Name</label>
            <div class="">
              {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.name) }}</div>
            </div>
          </div>

          <div class="form-group w-50">
            <label class="col-form-label control-label required" for="order_company">Rate Per Hour GST included</label>
            <div class="">
              <div class="input-group">
                {{ form_widget(form.ratePerHour, {'attr': {'class': 'form-control'}}) }}

                <div class="input-group-prepend">
                  <div class="input-group-text">SGD</div>
                </div>
              </div>
              <div class="invalid-feedback">{{ form_errors(form.ratePerHour) }}</div>
            </div>
          </div>

          <div class="form-group w-50">
            <label class="col-form-label control-label required" for="order_company">Status</label>
            <div class="">
              {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.status) }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">About</div>
        <div class="card-body">
          <div class="form-group">
            <div class="">
              {{ form_widget(form.about, {'attr': {'class': 'form-control rich-text-editor'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.about) }}</div>
            </div>
          </div>

          <div class="form-group d-none">
            <label class="col-form-label control-label required" for="order_company">Currency Code</label>
            <div class="">
              {{ form_widget(form.currencyCode, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.currencyCode) }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="row no-gutters">
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">Location</div>
        <div class="card-body">

          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Country</label>
            <div class="">
              {{ form_widget(form.countryCode, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.countryCode) }}</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">City</label>
            <div class="">
              {{ form_widget(form.cityCode, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.cityCode) }}</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Address
              Charge</label>
            <div class="">
              {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.address) }}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">Map</div>
        <div class="card-body">
          <div id="map" style="height: 300px; width:100%;">
            <img src="{{ asset('build/images/map-placeholder.jpeg') }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  {# Property Contact Details #}
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">Property Contact Details</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Contact Name</label>
            <div class="">
              {{ form_widget(form.contactName, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.contactName) }}</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Contact Email</label>
            <div class="">
              {{ form_widget(form.contactEmail, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.contactEmail) }}</div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Contact Phone</label>
            <div class="">
              {{ form_widget(form.contactPhone, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.contactPhone) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">How To Get There</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Option 1</label>
            <div class="">
              {{ form_widget(form.howToGetThere1, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.howToGetThere1) }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Option 2</label>
            <div class="">
              {{ form_widget(form.howToGetThere2, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.howToGetThere2) }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Option 3</label>
            <div class="">
              {{ form_widget(form.howToGetThere3, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.howToGetThere3) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr">

  <div class="row no-gutters">
    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">Packing Address</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Address 1</label>
            <div class="">
              {{ form_widget(form.parkingAddresses1, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.parkingAddresses1) }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label control-label" for="order_company">Address 2</label>
            <div class="">
              {{ form_widget(form.parkingAddresses2, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.parkingAddresses2) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6">
      <div class="card card-form">
        <div class="card-header">Wifi Connection</div>
        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Wifi Name</label>
            <div class="">
              {{ form_widget(form.wifiName, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.wifiName) }}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label control-label required" for="order_company">Wifi Password</label>
            <div class="">
              {{ form_widget(form.wifiPass, {'attr': {'class': 'form-control'}}) }}
              <div class="invalid-feedback">{{ form_errors(form.wifiPass) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include '@App/authentication/admin/component/actions.html.twig' with {'back_to_list_path': path('property_management_route')} %}
{{ form_end(form) }}