<section id="banner">
	<div class="container">
		<div class="bannerSlider">
			<div class="bannerSliderItem">
				<img class="showOnLarge" src="{{ preload('/bundles/html/thanhhuong/imgs/banner.png') }}">
				<img class="showOnMobile" src="{{ preload('/bundles/html/thanhhuong/imgs/banner.png') }}">
			</div>
			<div class="bannerSliderItem">
				<img class="showOnLarge" src="{{ preload('/bundles/html/thanhhuong/imgs/banner1.png') }}">
				<img class="showOnMobile" src="{{ preload('/bundles/html/thanhhuong/imgs/banner1.png') }}">
			</div>
			<div class="bannerSliderItem">
				<img class="showOnLarge" src="{{ preload('/bundles/html/thanhhuong/imgs/banner2.jpg') }}">
				<img class="showOnMobile" src="{{ preload('/bundles/html/thanhhuong/imgs/banner2.jpg') }}">
			</div>
			<div class="bannerSliderItem">
				<img class="showOnLarge" src="{{ preload('/bundles/html/thanhhuong/imgs/banner3.jpg') }}">
				<img class="showOnMobile" src="{{ preload('/bundles/html/thanhhuong/imgs/banner3.jpg') }}">
			</div>
			<div class="bannerSliderItem">
				<img class="showOnLarge" src="{{ preload('/bundles/html/thanhhuong/imgs/banner4.jpg') }}">
				<img class="showOnMobile" src="{{ preload('/bundles/html/thanhhuong/imgs/banner4.jpg') }}">
			</div>
		</div>

		<div class="smallnav">
			<div class="smallnavInner">
				<div class="smallnavItem smallnavItem0 active"><img alt="slide" src="{{ preload('/bundles/html/thanhhuong/imgs/banner.png') }}" data-index="0">
				</div>
				<div class="smallnavItem smallnavItem1"><img alt="slide" src="{{ preload('/bundles/html/thanhhuong/imgs/banner1.png') }}" data-index="1">
				</div>
				<div  class="smallnavItem smallnavItem2"><img alt="slide" src="{{ preload('/bundles/html/thanhhuong/imgs/banner2.jpg') }}" data-index="2">
				</div>
				<div  class="smallnavItem smallnavItem3"><img alt="slide" src="{{ preload('/bundles/html/thanhhuong/imgs/banner3.jpg') }}" data-index="3">
				</div>
				<div  class="smallnavItem smallnavItem4"><img alt="slide" src="{{ preload('/bundles/html/thanhhuong/imgs/banner4.jpg') }}" data-index="4">
				</div>
			</div>
		</div>
	</div>
</section>