<div id="about">
    <div class="container tripuContainer">
        <div class="row">
            <div class="col-12">

                <div class="sectionTitle">
                    <h2>Về TripU</h2>
                    <hr>
                </div>

                <div class="aboutMain">
                    <div class="aboutMainHead">
                        <div class="aboutMainImg showDesktop">
                            <img src="{{ preload('/bundles/html/bachmoc/images/about.png') }}">
                        </div>

                        <div class="aboutMainIntro">
                            <p>TripU là công ty du lịch trực tuyến trực thuộc Vietravel Group. Nền tảng đáp ứng đa dạng
                                các nhu cầu về đặt phòng khách sạn, dịch vụ visa cho du lịch tự túc và các tour du lịch
                                khám phá dành cho giới trẻ.</p>
                            <p>Hành trình của bạn luôn được cam kết:</p>
                        </div>
                    </div>

                    <div class="aboutMainIcon slickSlider">


                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about1.png') }}">
                            </div>
                            <div class="aboutMainIconItemData">
                                <p>
                                    Đội ngũ HDV được trang bị kiến thức chuyên môn đầy
                                    đủ, đồng hành cùng bạn trên các chặng đường
                                </p>
                            </div>
                        </div>


                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about2.png') }}">
                            </div>
                            <div class="aboutMainIconItemData">
                                <p>
                                    Xe cabin buồng nằm thoải mái, đảm bảo đủ sức khỏe cho hành trình. Lán ngủ và khu vực
                                    vệ sinh cá nhân được chuẩn bị tươm tất.
                                </p>
                            </div>
                        </div>

                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about32.png') }}">
                            </div>
                            <div class="aboutMainIconItemData">
                                <p> Tối đa 12 người, đảm bảo sự kết nối của team.</p>
                            </div>
                        </div>

                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about4.png') }}">

                            </div>
                            <div class="aboutMainIconItemData">
                                <p>Tối đa 120,000,000VNĐ – bao gồm AN TOÀN trong chuyến đi và đảm bảo sức khỏe trước
                                    dịch bệnh Covid-19</p>
                            </div>
                        </div>

                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about5.png') }}">
                            </div>
                            <div class="aboutMainIconItemData">
                                <p>Là những người dân bản địa, họ sẽ nấu những món ăn ngon, chăm lo cho bạn từng bữa ăn
                                    giấc ngủ tốt nhất. Đi cùng họ sẽ khiến bạn hiểu hơn về văn hoá địa phương.</p>
                            </div>
                        </div>

                        <div class="aboutMainIconItem">
                            <div class="aboutMainIconItemIcon">
                                <img src="{{ preload('/bundles/html/bachmoc/images/about6.png') }}">
                            </div>
                            <div class="aboutMainIconItemData">
                                <p>Khi bạn chạm tay vào chóp Bạch Mộc Lương Tử .</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>