<style>
    #RegisterPage {
        margin-bottom: -80px;
        background: url(/bundles/html/thanhhuong/imgs/bannerbg3.jpg) no-repeat center;
        /*background: url(/bundles/html/thanhhuong/imgs/banner4.jpg) no-repeat center;*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .RegisterPageInner{
        padding-bottom: 50px;
        text-align: center;
        max-width: 604px;
        margin: 0 auto;
        /*        background-color: #C4A484 ;*/
        background-color: #223b05 ;
        color: #ffffff;

    }
    .RegisterPageInner form {
        padding: 25px 80px 0px;
    }
    .RegisterPageInner form .form-group {
        text-align: left;
    }
    .RegisterPageInner form .form-group label {
        padding-top: 3px;
    }

    .RegisterPageInner .btn-primary {
        background-color: #223b05;
        color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        line-height: 25px;
    }
	.alert {
		margin-left: 80px;
		margin-right: 80px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 14px;
	}
</style>
<div id="RegisterPage">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="RegisterPageInner">
					<div class="logo pt-5 pb-5">
						<div class="row">
							<div class="col-12">
								<img class="logo" width="300px" src="/bundles/html/thanhhuong/imgs/logo.png">
							</div>
						</div>
					</div>

					<div class="container">
						<h1>Register</h1>
						{{ form_start(registrationForm) }}
						<div class="form-group mt-3">
							{{ form_label(registrationForm.fullName) }}
							{{ form_widget(registrationForm.fullName, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="form-group  mt-3">
							{{ form_label(registrationForm.username) }}
							{{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="form-group  mt-3">
							{{ form_label(registrationForm.email) }}
							{{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="form-group  mt-3">
							{{ form_label(registrationForm.password.first) }}
							{{ form_widget(registrationForm.password.first, { 'attr': {'class': 'form-control'} }) }}
						</div>

						<div class="form-group  mt-3">
							{{ form_label(registrationForm.password.second) }}
							{{ form_widget(registrationForm.password.second, { 'attr': {'class': 'form-control'} }) }}
						</div>
						<div class="form-footer mt-4">
							{{ form_widget(registrationForm.submit) }}
						</div>


						{{ form_end(registrationForm) }}

						<p class="mt-5">Already have an account? <a href="{{ path('user_login') }}">Login here</a></p>
					</div>

					<div class="row form-footer">
						{#<div class="col-12 footer-inner">
                            <a href="/imprint.php">Imprint</a>
                            <span>&nbsp;|&nbsp;</span>
                            <a href="/privacy.php">Privacy policy</a>
                            <span>&nbsp;|&nbsp;</span>
                            <a href="/gtc.php">GTC</a>
                            <span class="last-text-pre">&nbsp;|&nbsp;</span>
                            <a class="last-text" href="/advertising-terms-and-conditions.php">Advertising conditions</a>
                        </div>#}
						<div class="col-12">©Est-2010 - Đậu Phộng Thanh Hương</div>
					</div>

					{#<div class="row hello">
                        <div class="col-12 browsericon hidden-xs">
                            <p class="browsericon-title hidden-xs">Supported browsers:</p>
                            <a href="https://www.google.com/intl/de_ALL/chrome/" target="_blank"><p>Google Chrome</p></a>,&nbsp;
                            <a href="https://www.mozilla.org/de/firefox/new/" target="_blank"><p>Mozilla Firefox</p></a>,&nbsp;
                            <a href="https://www.opera.com/de/download/" target="_blank"><p>Opera</p></a>,&nbsp;
                            <a href="https://support.apple.com/de_DE/downloads/safari" target="_blank"><p>Safari</p></a>
                        </div>
                    </div>#}
				</div>
			</div>
		</div>
	</div>
</div>


